body {
    margin: 0;
}

.brand {
    background: rgb(2, 0, 36);
    background: url("news_9886.jpg");
}

.text_logo {
    height: 200px;
    width: 310px;
    position: absolute;
    top: 33%;
    left: 15%;
    color: #c1c1e8;
}

.text_logo > h1 {
    font-size: 60px;
    background: -webkit-linear-gradient(red, #050541);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.menu {
    height: 100vh;
    width: 6vh;
    background: black;
    position: relative;

}

#block {
    writing-mode: vertical-rl;
    transform: rotateZ(360deg);
    color: #32e7cc;
    position: absolute;
    top: 40%;
    text-align: left;
    font-size: 20px;
}

.kosmos {
    position: relative;
    left: 900px;
    top: 60px;


}

.link-dark {
    color: #000000 !important;
}
